.fiterdiscIcon{
    filter: drop-shadow(1px 1px 20px rgba(108, 3, 165, 0.726)) ;
}
@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .zoom-in-out {
    animation: zoomInOut 3s infinite;
  }
  