/* .img-zoom {
    overflow: hidden;
    height: 350px;
}
.card-image{
    height: 350px;
}
.img-zoom-effect {
    transition: transform 0.5s ease;
}
.img-zoom-effect:hover{
    transform: scale(1.1);
} */
/* Define keyframes for the animation */


  .sectionFiterimg{
    filter: drop-shadow(1px 1px 5px rgba(108, 3, 165, 0.553)) ;
}
