.img-zoom {
    overflow: hidden;
    height: 350px;
}
.card-image{
    height: 350px;
}
.img-zoom-effect {
    transition: transform 0.5s ease;
}
.img-zoom-effect:hover{
    transform: scale(1.1);
}

