/* .card-zoom {
    overflow: hidden;
}
.card-image{
    height: 250px;
} */
.zoom-effect {
    transition: transform 0.5s ease;
}
.zoom-effect:hover{
    transform: scale(1.1);
}
.fiterimg{
    filter: drop-shadow(1px 1px 20px rgba(108, 3, 165, 0.518)) ;
}